[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
[submodule "public"]
	path = public
	url = git@github.com:chr1sc2y/photography.github.io.git
